.c {
	color: #00FFFF;
	width: 750px;
	height: 150px;
	font-size: 30px;
}

p.content {
	padding: 50px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: garamond;
	background: gray;
}

p.content2 {
	padding: 50px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: garamond;
	background: gray;
}

